.select-type img {
  height: 100%;
}

.select-type {
  height: 200px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.select-type:hover {
  background: #3e58d8;
}
