.blocks-row {
  height: 360px;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .blocks-row {
    height: 700px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .blocks-row {
    height: 1450px;
    overflow: hidden;
  }
}
