@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  transition: $property;
}


$themes: (
  light: (
    bodyBackground: #fff,
    headerBackground: #f2f2fa,
    textColor: #8e8ea8,
    textColorDark: #364FCC,
    textColorLight: #54a9f4,
    titleText: #343747,
    cardBackground: #ffffff,
    cardBorder: #e7e7f3,
    tableHeader: #ffffff,
    tableBorder: #e7e7f3,
  ),
  dark: (
    bodyBackground: #383f48,
    headerBackground: #272c33,
    textColor: #8b9296,
    textColorDark: #568fff,
    textColorLight: #adadad,
    titleText: #ffffff,
    cardBackground: #272c33,
    cardBorder: #272c33,
    tableBorder: #323840,
    tableHeader: #323840,
  ),
);

$base-size: 15px;

@mixin customize($arg: theme) {
  $array: $themes;
  $prefix: theme;

  @if ($arg == theme) {
    $array: $themes;
    $prefix: theme;
  }

  @each $theme, $map in $array {
    .#{$prefix}-#{$theme} & {
      $array-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($array, $theme), '#{$key}');
        $array-map: map-merge($array-map, ($key: $value)) !global;
      }

      @content;
      $array-map: null !global;
    }
  }
}

@function getValue($key) {
  @return map-get($array-map, $key);
}

// #root, .ant-layout {
//   height: 100%;
// }

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


a, .link {
  cursor: pointer;
  @include customize(theme) { color: getValue(textColorDark); }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
  margin-bottom: 0;
}

h6 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.small {
  font-size: 14px;
}

b, strong {
    font-weight: 600;
}

.transition-color,
.block-color,
.account-color,
.producer-color { @include customize(theme) { color: getValue(textColor);  font-weight: 500 }}


h1, h2, h3, h4, h5 {
  @include customize(theme) { color: getValue(titleText);}
  font-weight: 700;
  letter-spacing: -.02em;
  margin-bottom: 15px;
}

h6 {
  @include customize(theme) { color: getValue(titleText);}
}

p {
  @include customize(theme) { color: getValue(textColor); }
  font-size: 16px;
  .ant-badge .ant-badge-status-text {
    @include customize(theme) { color: getValue(textColor); }
  }
}

.color-background {
  @include customize(theme) {
    background: getValue(textColorDark);
  }
}

.align-center { text-align: center;}

.ant-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.custom-field {
   .ant-tag {
      margin: 5px;
      padding: 5px;
      max-width: 300px;
      margin: 5px auto;
      color: #ffffff !important;
      border-width: 0;
      background-color: #ef534f !important;
      font-size: 14px;
      .anticon-close {color: #ffffff}
    }
    .ant-input {
      width: 300px !important;
      padding: 5px;
      height: 30px;
      text-align: center;
    }
}

.ant-tag {
    min-width: 80px;
    text-align: center;
    font-weight: 600;

}

.ant-collapse {
  margin-bottom: 30px;
  @include customize(theme) { background: getValue(cardBackground); }
  border: 0;
  border-radius: 0;
  .ant-collapse-item {
    @include customize(theme) { border-bottom: solid 1px getValue(tableBorder); }
  }
  .ant-collapse-content {
    border-radius: 0;
    @include customize(theme) {
      background: getValue(cardBackground);
      border-color: getValue(tableBorder);
    }
    .ant-collapse-content-box {
      padding: 0;
      .react-json-view {
        padding: 20px;
      }
    }
  }
  .ant-collapse-header {
    border-radius: 0;
    font-weight: 600;
    @include customize(theme) { color: getValue(titleText); }
  }
  .ant-collapse-item {border-bottom: 0;}
}

.header-wrap {
  max-width: 1200px;
  margin: 0 auto;
  .logo {
    width: 120px;
    margin: 16px 24px 16px 0;
    float: left;
  }
}

.content-wrap {
  padding: 30px 0 0;
  max-width: 1200px;
  margin: 0 auto;
}

.ant-layout-header {
  @include customize(theme) { background: getValue(headerBackground); }
  .ant-menu-horizontal {
    background: transparent;
    .ant-menu-item {
      font-size: $base-size;
      border-bottom: 2px solid transparent;
      @include customize(theme) { background: transparent }
      a {
        @include customize(theme) { color: getValue(textColor); }
      }
      &:hover a {
        @include customize(theme) { color: getValue(textColorLight); }
      }
    }
    .ant-menu-item-selected {
      @include customize(theme) { border-bottom: 2px solid getValue(textColorDark); }
      a, &:hover a {
        @include customize(theme) { color: getValue(textColorDark); }
        font-weight: 700;
      }
    }
  }
  .anticon-menu svg {
    @include customize(theme) { fill: getValue(textColor); }
  }
  .day-night-mode {
    svg {
      @include customize(theme) { fill: getValue(textColor); }
      @include transition(fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
      cursor: pointer;
    }
    &:hover svg {
      @include customize(theme) { fill: getValue(textColorLight); }
    }
  }
}

.ant-table-body {
  table {
    white-space: nowrap;
  }
}

.ant-table-content {
  overflow: hidden;
}

.ant-table-pagination {
  padding: 0 15px;

  .ant-pagination-item-link-icon {
    @include customize(theme) { color: getValue(textColorDark); }
  }

  .ant-pagination-item-ellipsis {
    @include customize(theme) { color: getValue(textColor); }
  }
}

.ant-table-row-expand-icon {
  @include customize(theme) { color: getValue(textColor); }
}

.ant-layout-content {
  padding: 0 50px;
  @include customize(theme) { background: getValue(bodyBackground);  }
  min-height: auto;
}

.ant-layout-footer {
  padding: 24px 50px 50px;
  text-align: center;
  @include customize(theme) { background: getValue(bodyBackground);  }
  p {
    font-size: 14px;
    @include customize(theme) { color: getValue(textColor); }
  }
}



@media only screen and (max-width: 890px) {
  .ant-layout-header, .ant-layout-content, .ant-layout-footer {
    padding: 0 20px;
  }
}

.preload-block {
  text-align: center;
  padding: 80px 0;
  i {
    @include customize(theme) {
      color: getValue(textColorDark);
    }
  }
}

.ant-card {
  margin-bottom: 30px;
  font-size: $base-size;
  @include customize(theme) {
    color: getValue(textColor);
    background: getValue(cardBackground);
    border-color: getValue(cardBorder);
  }
}

.ant-card-grid {
  @include customize(theme) {
    -webkit-box-shadow: 1px 0 0 0 getValue(tableBorder), 0 1px 0 0 getValue(tableBorder), 1px 1px 0 0 getValue(tableBorder), 1px 0 0 0 getValue(tableBorder) inset, 0 1px 0 0 getValue(tableBorder) inset;
    -moz-box-shadow: 1px 0 0 0 getValue(tableBorder), 0 1px 0 0 getValue(tableBorder), 1px 1px 0 0 getValue(tableBorder), 1px 0 0 0 getValue(tableBorder) inset, 0 1px 0 0 getValue(tableBorder) inset;
    box-shadow: 1px 0 0 0 getValue(tableBorder), 0 1px 0 0 getValue(tableBorder), 1px 1px 0 0 getValue(tableBorder), 1px 0 0 0 getValue(tableBorder) inset, 0 1px 0 0 getValue(tableBorder) inset;
  }
}

.ant-result {
  margin-bottom: 30px;
  padding: 30px 20px;
  @include customize(theme) {
    background: getValue(cardBackground);
    border-color: getValue(cardBorder);
  }
  .ant-result-extra {
    margin-top: 10px;
  }
  .ant-result-title {
    font-size: 18px;
    @include customize(theme) {
      color: getValue(titleText);
    }
  }
  .ant-result-icon i {
    font-size: 50px;
    @include customize(theme) {
      color: '#f9b22b';
    }
  }
}

.ant-btn {
  min-width: 110px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  height: 38px;
  border: 0px;
  margin: 0 5px;
  @include customize(theme) {
    background: getValue(textColorDark);
    border-color: getValue(textColorDark);
  }

  &.ant-input-search-button {
    height: 32px;
    min-width: 32px;
    margin: 0;
  }

  span, i {
    color: #ffffff !important;
  }


  &:hover {
    opacity: 0.9;
    color: #ffffff;
  }
}

.ant-btn-primary {
  @include customize(theme) {
    background: getValue(textColorDark);
    border-color: getValue(textColorDark);
  }
}

.ant-modal-body .ant-btn  {
  background: #364FCC;
}

.antd-pro-number-info-numberInfo .antd-pro-number-info-numberInfoSubTitle,
.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-meta {
  @include customize(theme) { color: getValue(textColor); }
}

.antd-pro-number-info-numberInfo .antd-pro-number-info-numberInfoValue span,
.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-total {
  @include customize(theme) { color: getValue(titleText); }
}

.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-total {
  font-size: 24px;
}

.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-chartTopMargin .antd-pro-charts-chart-card-avatar {
  font-size: 38px;
  line-height: 60px;
}

.details-info .ant-table-thead tr {
  display: none;
}

.details-info .ant-table-tbody tr p {
  margin: 0;
  font-size: 15px;
}

.ant-progress-text {
    @include customize(theme) { color: getValue(titleText); }
}

.ant-table-wrapper {
  @include customize(theme) { background: getValue(cardBackground); }
  margin-bottom: 30px;
  .ant-table {
    @include customize(theme) { color: getValue(titleText); }
  }
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    @include customize(theme) { border-color: getValue(tableBorder); }
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    @include customize(theme) {
      background: getValue(tableHeader);
      color: getValue(textColor);
    }
  }
  .ant-table-thead > tr:first-child > th:first-child,
  .ant-table-thead > tr:first-child > th:last-child {border-radius: 0}
  .ant-table-thead > tr > th {
    @include customize(theme) {
      background: getValue(tableHeader);
      color: getValue(textColor);
    }
  }
}

.table-filter {
  @include customize(theme) {
    color: getValue(textColor);
  }

  span {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .ant-tag-checkable {
    cursor: pointer;
    margin-bottom: 10px;
    @include customize(theme) {
      background: getValue(tableHeader);
      color: getValue(textColor);
      border-color: getValue(tableBorder);
    }

    &.ant-tag-checkable-checked {
      @include customize(theme) {
        background: getValue(textColorDark);
        color: #fff;
      }
    }
  }

}

.ant-tabs-nav {
  .ant-tabs-tab {
    @include customize(theme) { color: getValue(textColor); }
  }
  .ant-tabs-tab-active {
    @include customize(theme) { color: getValue(textColorDark); }
  }

}


.ant-card-head {
  padding: 0px 20px;
  min-height: 30px;
  font-size: $base-size;
  @include customize(theme) {
    background: getValue(cardBackground);
    border-color: getValue(tableBorder);
  }
  .ant-card-head-title {
    padding: 16px 0;
    @include customize(theme) {
      color: getValue(titleText);
    }
  }
}
.ant-card-body {
  padding: 10px 25px;

  .ant-badge span {
    display: inline-block;
  }

  p {
    font-size: 15px;
  }

  span {
    display: block;
    white-space: nowrap;
    @include customize(theme) { color: getValue(titleText); }
    &.block-transactions {
        margin-bottom: 10px;
        @include customize(theme) { color: getValue(textColor); }
    }
  }
}

.card-with-padding {
  padding: 10px 25px 30px;
}

.producer-links a {
  margin-right: 5px;
  &:hover {
    opacity: 0.8;
  }
}
.resources-card {
  h6 {
    margin-bottom: 14px
  }
  p {
    margin-bottom: 0px;
  }
  .resources-progress {
    margin-bottom: 15px;
    .ant-progress-text {
      font-size: 18px
    }
  }
}

.pie-sub-title {
    margin-bottom: 0 !important;
    font-weight: 700 !important;
}


.antd-pro-charts-pie-pie .antd-pro-charts-pie-total > h4 {
  @include customize(theme) { color: getValue(titleText);}
}

.ant-steps {
  margin-bottom: 15px;
}

.ant-steps-item-process .ant-steps-item-content > .ant-steps-item-title,
.ant-steps-item-finish .ant-steps-item-content > .ant-steps-item-title {
  @include customize(theme) {
    color: getValue(textColorDark);
  }
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot,
.ant-steps-item-finish > .ant-steps-item-tail::after,
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  @include customize(theme) {
    background: getValue(textColorDark);
  }
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot,
.ant-steps-item-process > .ant-steps-item-tail::after,
.ant-steps-item-wait .ant-steps-item-tail::after {
  @include customize(theme) {
    background: getValue(textColor);
  }
}

.ant-steps-item-wait .ant-steps-item-content > .ant-steps-item-title {
  @include customize(theme) {
    color: getValue(textColor);
  }
}

.ant-steps-item-finish .ant-steps-item-content > .ant-steps-item-description,
.ant-steps-item-process .ant-steps-item-content > .ant-steps-item-description {
  @include customize(theme) { color: getValue(titleText);}
}

.ant-steps-vertical .ant-steps-item-icon {
  @include customize(theme) {
    background: getValue(cardBackground);
    border-color: getValue(textColorDark);
  }
  .ant-steps-icon {
    @include customize(theme) { color: getValue(textColorDark);}
  }
}

.ant-steps-vertical .ant-steps-item-process .ant-steps-item-icon {
  @include customize(theme) {
    background: getValue(textColorDark);
  }
  .ant-steps-icon {
    color: #ffffff !important;
  }
}


// SWAP

.amount-color {
  @include customize(theme) {
    color: getValue(textColorDark);
  }
}

.swap-wrapper {
  width: 100%;
  max-width: 780px;
  min-height: 600px;
  border: 1px solid;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  padding: 30px 30px 40px;
  box-sizing: border-box;

  @include customize(theme) {
    background: getValue(cardBackground);
    border-color: getValue(tableBorder);
  }
}

.ant-form {
  max-width: 460px;
  margin: 0 auto;

  .ant-form-item-label > label {
    @include customize(theme) {
      color: getValue(textColor);
    }
  }
}

.tabs-card {
  padding: 10px 20px 20px;
  border: 1px solid;
  @include customize(theme) {
    border-color: getValue(tableBorder);
    background: getValue(cardBackground);
  }
}

.form-wit-tags-field {
    margin-bottom: 15px;
    .ant-form-item {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
      &:before {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
}

.ant-spin-container::after {
  background: transparent;
}

.ant-spin-container.ant-spin-blur {
  opacity: 0.1;
}

.success-block {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid;
  @include customize(theme) { border-color: getValue(tableBorder);}
}

.image-button {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    @include transition(opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1));
    &:hover {
      opacity: 0.8;
    }
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin: 15px 0 30px;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #496BE8;
  -webkit-animation: pulsate 3s linear infinite;
  -moz-animation: pulsate 3s linear infinite;
  -o-animation: pulsate 3s linear infinite;
  -ms-animation: pulsate 3s linear infinite;
  animation: pulsate 3s linear infinite;
}


.loader.done, .loader.done:before {
  background-color: #27D086;
}
.loader.error, .loader.error:before {
  background-color: #FB4444;
}

@-webkit-keyframes pulsate {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
@-moz-keyframes pulsate {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
@-ms-keyframes pulsate {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
@-o-keyframes pulsate {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
@keyframes pulsate {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

.scroll-table-1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.scroll-table-2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}
.g2-tooltip-value{
    color: black !important;
}
