#root {
  min-height: 100%; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.theme-light a {
  color: #364FCC; }

.theme-dark a {
  color: #398bf7; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 16px;
  margin-bottom: 0; }

h6 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px; }

b, strong {
  font-weight: 600; }

.theme-light .transition-color, .theme-light
.block-color, .theme-light
.account-color, .theme-light
.producer-color {
  color: #8e8ea8;
  font-weight: 500; }

.theme-dark .transition-color, .theme-dark
.block-color, .theme-dark
.account-color, .theme-dark
.producer-color {
  color: #8b9296;
  font-weight: 500; }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  letter-spacing: -.02em;
  margin-bottom: 15px; }
  .theme-light h1, .theme-light h2, .theme-light h3, .theme-light h4, .theme-light h5 {
    color: #343747; }
  .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5 {
    color: #ffffff; }

.theme-light h6 {
  color: #343747; }

.theme-dark h6 {
  color: #ffffff; }

.align-center {
  text-align: center; }

.ant-layout {
  position: absolute;
  width: 100%;
  height: 100%; }

.ant-tag {
  min-width: 80px;
  text-align: center;
  font-weight: 600; }

.ant-collapse {
  margin-bottom: 30px;
  border: 0;
  border-radius: 0; }
  .theme-light .ant-collapse {
    background: #ffffff; }
  .theme-dark .ant-collapse {
    background: #272c33; }
  .theme-light .ant-collapse {
    border-bottom: solid 1px #e7e7f3; }
  .theme-dark .ant-collapse {
    border-bottom: solid 1px #323840; }
  .ant-collapse .ant-collapse-content {
    border-radius: 0; }
    .theme-light .ant-collapse .ant-collapse-content {
      background: #ffffff;
      border-color: #e7e7f3; }
    .theme-dark .ant-collapse .ant-collapse-content {
      background: #272c33;
      border-color: #323840; }
    .ant-collapse .ant-collapse-content .ant-collapse-content-box {
      padding: 0; }
      .ant-collapse .ant-collapse-content .ant-collapse-content-box .react-json-view {
        padding: 20px; }
  .ant-collapse .ant-collapse-header {
    border-radius: 0;
    font-weight: 600; }
    .theme-light .ant-collapse .ant-collapse-header {
      color: #343747; }
    .theme-dark .ant-collapse .ant-collapse-header {
      color: #ffffff; }
  .ant-collapse .ant-collapse-item {
    border-bottom: 0; }

.header-wrap {
  max-width: 1200px;
  margin: 0 auto; }
  .header-wrap .logo {
    width: 120px;
    margin: 16px 24px 16px 0;
    float: left; }

.content-wrap {
  padding: 30px 0 0;
  max-width: 1200px;
  margin: 0 auto; }

.theme-light .ant-layout-header {
  background: #f2f2fa; }

.theme-dark .ant-layout-header {
  background: #272c33; }

.ant-layout-header .ant-menu-horizontal {
  background: transparent; }
  .ant-layout-header .ant-menu-horizontal .ant-menu-item {
    font-size: 15px;
    border-bottom: 2px solid transparent; }
    .theme-light .ant-layout-header .ant-menu-horizontal .ant-menu-item {
      background: transparent; }
    .theme-dark .ant-layout-header .ant-menu-horizontal .ant-menu-item {
      background: transparent; }
    .theme-light .ant-layout-header .ant-menu-horizontal .ant-menu-item a {
      color: #8e8ea8; }
    .theme-dark .ant-layout-header .ant-menu-horizontal .ant-menu-item a {
      color: #8b9296; }
    .theme-light .ant-layout-header .ant-menu-horizontal .ant-menu-item:hover a {
      color: #54a9f4; }
    .theme-dark .ant-layout-header .ant-menu-horizontal .ant-menu-item:hover a {
      color: #adadad; }
  .theme-light .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected {
    border-bottom: 2px solid #364FCC; }
  .theme-dark .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected {
    border-bottom: 2px solid #398bf7; }
  .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected a, .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected:hover a {
    font-weight: 700; }
    .theme-light .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected a, .theme-light .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected:hover a {
      color: #364FCC; }
    .theme-dark .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected a, .theme-dark .ant-layout-header .ant-menu-horizontal .ant-menu-item-selected:hover a {
      color: #398bf7; }

.theme-light .ant-layout-header .anticon-menu svg {
  fill: #8e8ea8; }

.theme-dark .ant-layout-header .anticon-menu svg {
  fill: #8b9296; }

.ant-layout-header .day-night-mode svg {
  -webkit-transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer; }
  .theme-light .ant-layout-header .day-night-mode svg {
    fill: #8e8ea8; }
  .theme-dark .ant-layout-header .day-night-mode svg {
    fill: #8b9296; }

.theme-light .ant-layout-header .day-night-mode:hover svg {
  fill: #54a9f4; }

.theme-dark .ant-layout-header .day-night-mode:hover svg {
  fill: #adadad; }

.ant-table-body table {
  white-space: nowrap; }

.ant-table-content {
  overflow: hidden; }

.ant-layout-content {
  padding: 0 50px;
  min-height: auto; }
  .theme-light .ant-layout-content {
    background: #fff; }
  .theme-dark .ant-layout-content {
    background: #383f48; }

.ant-layout-footer {
  padding: 24px 50px 50px;
  text-align: center; }
  .theme-light .ant-layout-footer {
    background: #fff; }
  .theme-dark .ant-layout-footer {
    background: #383f48; }
  .ant-layout-footer p {
    font-size: 14px; }
    .theme-light .ant-layout-footer p {
      color: #8e8ea8; }
    .theme-dark .ant-layout-footer p {
      color: #8b9296; }

@media only screen and (max-width: 890px) {
  .ant-layout-header, .ant-layout-content, .ant-layout-footer {
    padding: 0 20px; } }

.preload-block {
  text-align: center;
  padding: 80px 0; }
  .theme-light .preload-block i {
    color: #364FCC; }
  .theme-dark .preload-block i {
    color: #398bf7; }

.ant-card {
  margin-bottom: 30px;
  font-size: 15px; }
  .theme-light .ant-card {
    color: #8e8ea8;
    background: #ffffff;
    border-color: #e7e7f3; }
  .theme-dark .ant-card {
    color: #8b9296;
    background: #272c33;
    border-color: #272c33; }

.theme-light .ant-card-grid {
  -webkit-box-shadow: 1px 0 0 0 #e7e7f3, 0 1px 0 0 #e7e7f3, 1px 1px 0 0 #e7e7f3, 1px 0 0 0 #e7e7f3 inset, 0 1px 0 0 #e7e7f3 inset;
  -moz-box-shadow: 1px 0 0 0 #e7e7f3, 0 1px 0 0 #e7e7f3, 1px 1px 0 0 #e7e7f3, 1px 0 0 0 #e7e7f3 inset, 0 1px 0 0 #e7e7f3 inset;
  box-shadow: 1px 0 0 0 #e7e7f3, 0 1px 0 0 #e7e7f3, 1px 1px 0 0 #e7e7f3, 1px 0 0 0 #e7e7f3 inset, 0 1px 0 0 #e7e7f3 inset; }

.theme-dark .ant-card-grid {
  -webkit-box-shadow: 1px 0 0 0 #323840, 0 1px 0 0 #323840, 1px 1px 0 0 #323840, 1px 0 0 0 #323840 inset, 0 1px 0 0 #323840 inset;
  -moz-box-shadow: 1px 0 0 0 #323840, 0 1px 0 0 #323840, 1px 1px 0 0 #323840, 1px 0 0 0 #323840 inset, 0 1px 0 0 #323840 inset;
  box-shadow: 1px 0 0 0 #323840, 0 1px 0 0 #323840, 1px 1px 0 0 #323840, 1px 0 0 0 #323840 inset, 0 1px 0 0 #323840 inset; }

.theme-light .ant-result {
  background: #ffffff;
  border-color: #e7e7f3; }

.theme-dark .ant-result {
  background: #272c33;
  border-color: #272c33; }

.theme-light .ant-result .ant-result-title {
  color: #343747; }

.theme-dark .ant-result .ant-result-title {
  color: #ffffff; }

.theme-light .ant-result .ant-result-icon i {
  color: #364FCC; }

.theme-dark .ant-result .ant-result-icon i {
  color: #398bf7; }

.ant-btn {
  min-width: 110px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  height: 38px; }
  .ant-btn:hover {
    opacity: 0.9; }

.theme-light .ant-btn-primary {
  background: #364FCC;
  border-color: #364FCC; }

.theme-dark .ant-btn-primary {
  background: #398bf7;
  border-color: #398bf7; }

.theme-light .antd-pro-number-info-numberInfo .antd-pro-number-info-numberInfoSubTitle, .theme-light
.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-meta {
  color: #8e8ea8; }

.theme-dark .antd-pro-number-info-numberInfo .antd-pro-number-info-numberInfoSubTitle, .theme-dark
.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-meta {
  color: #8b9296; }

.theme-light .antd-pro-number-info-numberInfo .antd-pro-number-info-numberInfoValue span, .theme-light
.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-total {
  color: #343747; }

.theme-dark .antd-pro-number-info-numberInfo .antd-pro-number-info-numberInfoValue span, .theme-dark
.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-total {
  color: #ffffff; }

.antd-pro-charts-chart-card-chartCard .antd-pro-charts-chart-card-chartTopMargin .antd-pro-charts-chart-card-avatar {
  font-size: 38px;
  line-height: 60px; }

.details-info .ant-table-thead tr {
  display: none; }

.ant-table-wrapper {
  margin-bottom: 30px; }
  .theme-light .ant-table-wrapper {
    background: #ffffff; }
  .theme-dark .ant-table-wrapper {
    background: #272c33; }
  .theme-light .ant-table-wrapper .ant-table {
    color: #343747; }
  .theme-dark .ant-table-wrapper .ant-table {
    color: #ffffff; }
  .theme-light .ant-table-wrapper .ant-table-tbody > tr > td, .theme-light
  .ant-table-wrapper .ant-table-thead > tr > th {
    border-color: #e7e7f3; }
  .theme-dark .ant-table-wrapper .ant-table-tbody > tr > td, .theme-dark
  .ant-table-wrapper .ant-table-thead > tr > th {
    border-color: #323840; }
  .theme-light .ant-table-wrapper .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #ffffff;
    color: #8e8ea8; }
  .theme-dark .ant-table-wrapper .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #323840;
    color: #8b9296; }
  .ant-table-wrapper .ant-table-thead > tr:first-child > th:first-child,
  .ant-table-wrapper .ant-table-thead > tr:first-child > th:last-child {
    border-radius: 0; }
  .theme-light .ant-table-wrapper .ant-table-thead > tr > th {
    background: #ffffff;
    color: #8e8ea8; }
  .theme-dark .ant-table-wrapper .ant-table-thead > tr > th {
    background: #323840;
    color: #8b9296; }

.ant-card-head {
  padding: 0px 20px;
  min-height: 30px;
  font-size: 15px; }
  .theme-light .ant-card-head {
    background: #ffffff;
    border-color: #e7e7f3; }
  .theme-dark .ant-card-head {
    background: #272c33;
    border-color: #323840; }
  .ant-card-head .ant-card-head-title {
    padding: 16px 0; }
    .theme-light .ant-card-head .ant-card-head-title {
      color: #343747; }
    .theme-dark .ant-card-head .ant-card-head-title {
      color: #ffffff; }

.ant-card-body {
  padding: 10px 25px; }
  .ant-card-body span {
    display: block;
    white-space: nowrap; }
    .theme-light .ant-card-body span {
      color: #343747; }
    .theme-dark .ant-card-body span {
      color: #ffffff; }
    .ant-card-body span.block-transactions {
      margin-bottom: 10px; }
      .theme-light .ant-card-body span.block-transactions {
        color: #8e8ea8; }
      .theme-dark .ant-card-body span.block-transactions {
        color: #8b9296; }

.producer-links a {
  margin-right: 5px; }
  .producer-links a:hover {
    opacity: 0.8; }

.pie-sub-title {
  margin-bottom: 0 !important;
  font-weight: 700 !important; }

.theme-light .antd-pro-charts-pie-pie .antd-pro-charts-pie-total > h4 {
  color: #343747; }

.theme-dark .antd-pro-charts-pie-pie .antd-pro-charts-pie-total > h4 {
  color: #ffffff; }
